.PersonCard {
  /* width: 250px;
  height: 70px; */
  width: 300px;
  height: 100px;
  background-color: brown;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s ease-out;
}
.PersonCard:hover {
  transform: scale(1.05);
  transition: 0.2s ease-out;
}
.img {
  width: 70px;
  overflow: hidden;
}
h2 {
  font-size: 10px;
}

.character h2:nth-child(1n + 3)::before {
  /* background: red; */
  content: " " " , ";
  color: white;
}
.character {
  display: flex;
  /* padding: 0 5px; */
  direction: ltr;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.info {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 5px;
  border-left: 5px solid black;
  direction: ltr;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 215px;
}

.PersonCard a {
  display: flex;
  width: 100%;
  height: 100%;
}
