/* .App {
  font-family: sans-serif;
  text-align: center;
} */
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Khand:700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap");

/* h1 {
  position: relative;
  font-family: Khand, sans-serif;
  font-size: 6rem;
} */
* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Monomaniac One"; */
  /* font-family: Khand, sans-serif; */
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
